/* Styles for the body and in general*/
p, h1, h2, h3, h4, h5, h6, li, ul, a, th, td{
    font-family: google-sans, sans-serif;
}

body {
    margin: 0;
    overflow-y: auto;
    background-color: #f8f9fa;
}

.inline-p {
    display: inline
}

/* Styles for the navigation bar */
.web_nav_bar {
    width: 97.9vw;
    height: 5vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(128, 128, 128);
    padding: 10px 20px;
}

.nav_header p {
    font-size: 32px;
}

.nav_header a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 2px 3px black;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav_header a:hover {
    color: darkgray;
    text-shadow: 2px 4px 5px black;
}

.nav_links {
    margin-right: 10%;
    display: flex;
    gap: 40px;
}

.nav_links a {
    font-size: 18px;
    box-shadow: 1px 1px 1px black;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    background-color: lightgray;
    border-radius: 20px;
    border: 1px solid black;
    transition: box-shadow 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.nav_links a:hover{
    box-shadow: 1px 3px 5px black;
    color: rgb(255, 255, 255);
    background-color: darkgrey;
}

.nav_links a.active {
    background-color: #a7a6a6;
    color: white
}

/* Index HTML */
/* Styles for the index page, including styling for the scrollable list of books */
.main-content-index {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.book-list-container {

    display: flex;
    justify-content: center;
}

.header-row {
    background-color: rgb(152, 152, 152);
}

.scrollable-list {
    background-color: rgb(217, 217, 217);
    text-align: center;
    height: 70vh;
    border: 1px solid black;
    overflow-y: auto;
}

.book-table {
    border-collapse: collapse;
}

.book-table th{
    font-size: 18px;
    background-color: rgb(146, 146, 146);
    color: rgb(232, 232, 232);
    padding: 15px;
    border: 1px solid rgb(131, 131, 131);
    text-shadow: 1px 1px 2px black;
    z-index: 10;
    position: sticky;
    top: 0;
}

.book-table td{
    padding: 13px;
    border: 1px solid rgb(142, 142, 142);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.book-table td:hover {
    color: rgb(83, 83, 83);
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
}

#BookDescriptionDisplay {
    background-color: lightgray;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 30vh;
    height: 10vh;
    overflow-y: auto;
    margin: auto;
    border: 2px solid black;
    transition: color 0.3s ease, width 0.3s ease, height 0.3s ease, font-size 0.3s ease, box-shadow 0.3s ease;
}

#BookDescriptionDisplay:hover{
    cursor: pointer;
    color: rgb(68, 68, 68);
    font-size: 20px;
    width: 31vh;
    height: 11vh;
    box-shadow: 1px 2px 3px black;
}

.tiny-p {
    margin-left: auto;
    margin-right: auto;
    width: 30vh;
    font-size: 80%;
}

/* Manage HTML */
/* Styles for the manage page */
.manage-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#manageBooksList {
    margin: 20px;
    width:30vw;
    height: 40vh;
    border: 2px solid black;
    margin-bottom: 20px;
    overflow-y: auto;
}

#bookList {
    border-collapse: collapse;
    width: 30vw;
}


#bookList th {
    font-size: 18px;
    background-color: rgb(146, 146, 146);
    color: rgb(232, 232, 232);
    padding: 15px;
    border: 1px solid rgb(131, 131, 131);
    text-shadow: 1px 1px 2px black;
    z-index: 10;
    position: sticky;
    top: 0;
}

#bookList td {
    background-color: rgb(217, 217, 217);
    padding: 13px;
    border: 1px solid rgb(142, 142, 142);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

#bookList td:hover {
    color: rgb(83, 83, 83);
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
}

.header_book_display {
    text-align: center;
}

.manage-display-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

#bookDisplay {
    background-color: rgb(217, 217, 217);
    overflow-y: auto;
    margin: 20px;
    text-align: center;
    width: 15vw;
    height: 22vh;
    border: 2px solid black;
    border-radius: 12px;
}


#editDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#editBtn {
    margin: 10px;
    padding: 12px 16px;
    background-color: lightblue;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 1px 2px 3px black;
    transition: box-shadow 0.3s ease, color 0.3s ease;
}

#deleteBtn {
    margin: 10px;
    padding: 12px 16px;
    background-color: rgb(230, 173, 173);
    border: none;
    border-radius: 25px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 1px 2px 3px black;
    transition: box-shadow 0.3s ease, color 0.3s ease;
}

#editBtn:hover {
    cursor: pointer;
    color: rgb(89, 89, 89);
    box-shadow: 2px 4px 5px black;
}

#deleteBtn:hover {
    cursor: pointer;
    color: rgb(86, 0, 0);
    box-shadow: 2px 4px 5px black;
}

#editForm {
    overflow-y: auto;
    width: 15vw;
    height: 40vh;
    background-color: lightgray;
    border-radius: 12px;
    border: 1px solid black;
    width: 15vw;
    padding: 15px;
}


#editBookForm {
    text-align: center;
}

.closeEditForm {
    float: right;
    top: 0;
    position: sticky;
}

.closeEditForm:hover {
    cursor: pointer;
    color: red;
}

#editBookForm input{
    margin: 10px;
}

#editBookForm select{
    margin: 10px;
}

#editBookForm p{
    font-family: google-sans, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#editBookForm button {
    font-family: google-sans, sans-serif;
    background-color: lightgreen;
    padding: 10px 18px;
    border-radius: 24px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1px 2px 3px black;
    transition: box-shadow 0.3s ease;
}

#editBookForm button:hover {
    cursor: pointer;
    box-shadow: 2px 4px 5px black;
}


.manage-add-book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#openModal {
    background-color: rgb(212, 212, 212);
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 1px 2px 3px black;
    margin: 5px;
    margin-bottom: 25px;
    transition: box-shadow 0.3s ease;
}

#openModal:hover {
    cursor: pointer;
    box-shadow: 2px 4px 5px black;
}

.modal-content {
    overflow-y: auto;
    width: 15vw;
    height: 40vh;
    margin: 20px;
    background-color: lightgray;
    border: 1px solid black; 
    border-radius: 12px;
    padding: 15px;
}


#AddBookForm {
    padding: 20px;
    text-align: center;
}

#AddBookForm p {
    font-family: google-sans, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#AddBookForm input {
    font-family: google-sans, sans-serif;
    margin: 20px;
}

#AddBookForm button {
    font-family: google-sans, sans-serif;
    background-color: lightgreen;
    padding: 10px 18px;
    border-radius: 24px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1px 2px 3px black;
    transition: box-shadow 0.3s ease;
}

#AddBookForm button:hover {
    cursor: pointer;
    box-shadow: 2px 4px 5px black;
}

.close {
    float:right;
    top: 0;
    position: sticky;
}

.close:hover {
    cursor: pointer;
    color: red;
}

/* Stats HTML */
/* Styles for the stats page */

#stats_page {
    text-align:center;
    margin: 20px;
}

#total_books_read_section {
    font-family: google-sans, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

#goal_section {
    border: 2px solid black;
    width: 30vw;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    border-radius: 20px;
    overflow-y: auto;
}

#goal_section p{
   font-weight: bold;
   font-size: 20px;
}

#goal_section input {
    border-radius: 5px;
    font-weight: bold;
}

#goal_section button{
    font-size: 18px;
    border-radius: 5px;
    background-color: lightgreen;
    color: black;
    font-weight: bold;
    box-shadow: 1px 1px 1px black;
    transition: box-shadow 0.3s ease;
}

#goal_section button:hover{
    cursor: pointer;
    box-shadow: 2px 3px 4px black;
}

#goalChartContainer {
    margin: 20px;
    border: 2px black solid;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    width: 35vw;
    border-radius: 20px;
    background-color: lightgray;
}

#statusPieChart {
    border: 2px black solid;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    width: 35vw;
    border-radius: 20px;
    background-color: lightgray;
}