/* Styles for the body */
body {
    margin: 0;
    padding: 25px;
    overflow: hidden
}

.inline-p {
    display: inline
}

/* Index HTML */
/* Styles for the index page, including styling for the scrollable list of books */


.scrollable-list {
    align-items: center;
    width: 98%;
    height: 60vh;
    overflow-y: auto;
    border: 1px solid black;
}

.scrollable-list li { /* For each of the scrollable list */
    padding: 10px;
    border-bottom: 1px solid black;
}

/* Manage HTML */
/* Styles for the manage pag */

#bookList{
    width:30%;
    overflow-y: auto;
    border: 2px solid black;
    padding: 20px;
    list-style-type: none;
}