        {% extends "layout.html" %} <!-- Extending base layout -->
        {% block content %} <!-- Starting content block -->
 
            <ul> <!-- Displays book list -->
                <div class="scrollable-list">
                        <li>
                            <strong>Title - Author - Status - Progress - Rating - Date Started - Date Finished</strong>
                        </li>
                    {% for book in books %}
                        <li>
                            <strong>{{ book.title }} by {{ book.author_name}} - {{ book.status_name }} - {{ book.pages_read }}/{{ book.total_pages }} - {{ book.rating }}/{{5}} - {{book.date_started}} - {{book.date_finished}}</strong>
                        </li>
                    {% endfor %}
                </div>
            </ul>
   
        {% endblock %} <!-- Ending content block -->
   </body>
</html>