{% extends "layout.html" %} <!-- Extending base layout -->
{% block content %} <!-- Starting content block -->
<div class="main-content-index">
    <!-- Displays book list -->
    <div class="book-list-container">
        <div class="scrollable-list">
            <table class="book-table">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Progress</th>
                    <th>Rating</th>
                    <th>Date Started</th>
                    <th>Date Finished</th>
                </tr>
                {% for book in books %}
                <tr>
                    <td home-data-id="{{ book.item_id }}"> {{book.title}} </td>
                    <td home-data-id="{{ book.item_id }}"> {{book.author_name}} </td>
                    <td home-data-id="{{ book.item_id }}"> {{book.status_name}} </td>
                    <td home-data-id="{{ book.item_id }}"> {{book.pages_read}}/{{book.total_pages}} </td>
                    <td home-data-id="{{ book.item_id }}"> {{book.rating}} </td>
                    <td home-data-id="{{ book.item_id }}"> {{book.date_started}} </td>
                    <td home-data-id="{{ book.item_id }}"> {{book.date_finished}} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="book-description-container">
        <div id="BookDescriptionDisplay"> <!-- This div is where the book description will be displayed -->

        </div>
        <p class="tiny-p">
            *Click on a book's title, author, status, progress, rating, or dates to view its description.
        </p>
    </div>
</div>
{% endblock %} <!-- Ending content block -->
</body>

</html>