<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book Log</title>
    </head>

    <body>
        <a href="/">Home</a>
        <a href="/manage">Manage Books</a>
        <a href="/stats">Stats</a>
        <h1>Book log</h1> # Website title

        <ul>
            {% for book in books %}
                <li>
                    <strong>{{ book.title }} by {{ book.author_name}} - {{ book.status_name }} </strong>
                </li>
            {% endfor %}
        </ul>

    </body>