<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book Log</title>
        <link rel="stylesheet" href="static/styles.css"> <!-- Link to external CSS file -->
    </head>

    <body>
        <nav> <!-- Navigation bar -->
            <a href="/">Home</a> 
            <a href="/manage">Manage Books</a>
            <a href="/stats">Stats</a>
        </nav>

        {% block content %}
        {% endblock %} <!-- Content block to be filled by child templates -->
        <script src="/static/script.js"></script> <!-- Link to external JavaScript file -->
    </body>
</html>