<!--
    Layout template for the Book Tracker Website
    Author: Kian Castro
    File: layout.html
    Date: April 2026
-->

<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book Log</title>
        <link rel="stylesheet" href="static/styles.css"> <!-- Link to external CSS file -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Link to chart.js script -->
    </head>

    <body>
        <nav class = "web_nav_bar" > <!-- Navigation bar -->
            <div class = "nav_header">
                <p class = "inline-p"><b><a href="/">Book Log</a></b></p>
            </div>
            <div class = "nav_links">
                <a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a> 
                <a href="/manage" class="{% if request.path == '/manage' %}active{% endif %}">Manage Books</a>
                <a href="/stats" class="{% if request.path == '/stats' %}active{% endif %}">Stats</a>
            </div>
        </nav>

        {% block content %}
        {% endblock %} <!-- Content block to be filled by child templates -->
        <script src="/static/script.js"></script> <!-- Link to external JavaScript file -->
    </body>
</html>