        {% extends "layout.html" %} <!-- Extending base layout -->
        {% block content %} <!-- Starting content block -->

            <ul>
                {% for book in books %}
                    <li data-id="{{ book.item_id }}" >
                        <strong>{{ book.title }} by {{ book.author_name}} - {{ book.status_name }} </strong>
                    </li>
                {% endfor %}
            </ul>

            <div id="bookDisplay"> <!-- This div will be used to display book details when a book is clicked -->
                
            </div>

            <button id="openModal">Add New Book</button> <!-- Button to open modal to add a new book -->

            <div id="bookModal" class="modal" style="display: none;">  <!-- Modal content-->
                <div class="modal-content">
                    <span class="close">&times;</span> <!-- To close the modal -->
                    <form action="/add_book" method="POST">
                        <input type="text" name="title" placeholder="Title" required><br>
                        <input type="text" name="author_name" placeholder="Author Name" required>
                        <input type="number" name="total_pages" placeholder="Total Pages" required><br>
                        <input type="date" name="date_started" placeholder="Date Started" required><br>
                        <input type="text" name="description" placeholder="Book Description"><br>
                        <button type="submit">Add Book</button>
                    </form>
                </div>
            </div>

        {% endblock %} <!-- Ending content block -->
    </body>
</html>