<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stats</title>
    </head>

    <body>
        <a href="/">Home</a>
        <a href="/manage">Manage Books</a>
        <a href="/stats">Stats</a>
        <h1>Stats</h1> # Page title

        <ul>
            <li>Total Books: {{ total_books[0] }}</li>
            <li>Books to Read: {{ books_to_read[0] }}</li>
            <li>Books Reading: {{ books_reading[0] }}</li>
        </ul>